body {
    background: linear-gradient(90deg, rgba(250,128,112,1) 0%, rgba(248,180,160,1) 25%, rgba(246,218,195,1) 50%, rgba(245,245,220,1) 75%);
}

.font {
    text-align: center;
}

.cent {
    text-align: center;
}

.cen {
    /* margin-left: auto;
    margin-right: auto; */
    position: relative;
    height: 200px;
    margin: 0 auto
}

#x {
    width: 600px;
    font-size: 200%;
}

.opcen {
    text-align: center;
    padding-top: 30px;
}

.menuc {
    text-align: center;
    padding-top: 20px;
}

.b {
    text-align: center;
    padding-top: 10px;
}